*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Cabezera:black;
    --colorGreen: rgb(99, 189, 9)
}


header{
    top: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 7rem;
    border-bottom:solid 1px rgb(5, 32, 5);
    background-color: rgba(255, 255, 255, 0.877);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
}
main {
    margin-top: 5rem;
}

nav a{
    text-decoration: none;
    color: var(--Cabezera);
    transition: all 0.6s;
}

.box1{
    grid-column: 1/2;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.box1 img{
    width: 30%;
}
.box2{
    grid-column: 2/3;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.box3{
    grid-column: 3/4;
    margin: auto;
}
.box3 button{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
}
.button1{
    background-color: white;
    transition: all 0.6s;
    cursor: pointer;
}
.button2{
    background-color: aquamarine;
    transition: all 0.6s;
    cursor: pointer;
}

nav a:hover,
.button1:hover,
.button2:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 212, 255, 0.4);
}

.container1{
    margin: auto;
    width: 80%;
    height: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;

}

.Lessons{
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.text1{
    grid-row: 1;
    margin: auto auto 1rem 7rem;
    font-size: 2rem;
}
.text2{
    grid-row: 2;
    margin: 1rem auto auto 7rem;
}
.text2 button{
    margin-top: 5rem;
    width: 7.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--colorGreen);
    cursor: pointer;
    transition: all 0.6s;
}

.textSpecial{
    color: var(--colorGreen);
}
.text2 button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.4);
}

.container1 img{
    grid-column: 2/3;
    width: 70%;
    margin: auto;
}

.container2{
    width: 100%;
    height: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.title{
    font-size: 2rem;
}
.clients{
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icons{
    display: flex;
    justify-content: space-around;
    margin: 4rem;
}

.container3{
    padding-top: 2rem;
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
    text-align: center;
}
.title_container3{
    font-size: 2rem;
    padding: 10px;
}

.object1{
    margin: auto;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
}

.object2{
    margin: auto;
    width: 60%;
    grid-column: 1/2;
    grid-row: 2;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 3rem;
}
.object2 img,
.object3 img,
.object4 img{
    width: 7rem;
    margin: auto;
}



.object3{
    grid-column: 2/3;
    grid-row: 2;
    margin: auto;
    width: 60%;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 3rem;
}

.object4{
    grid-column: 3/4;
    grid-row: 2;
    margin: auto;
    width: 60%;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 3rem;
}

.object2:hover,
.object3:hover,
.object4:hover{    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.4);
    border-radius: 1rem;
}

.container4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container4 img{
    margin: auto auto auto 5rem;
    width: 60%;
    height: 70%;
}

.sonTheContainer4{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-container4{
    width: 70%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box-container4 h2{
    font-size: 3rem;
}
.sonTheContainer4 button{
    margin-top: 3rem;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--colorGreen);
    cursor: pointer;
    transition: all 0.6s;
}

.sonTheContainer4 button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.4);
}

.container5{
    margin: auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: auto;
    gap: 1rem;
    background-color: aliceblue;
}

.box1-container5{
    margin: auto;
    width: 100%;

    padding: 2rem 0px 2rem 7rem;
    font-size: 20px;
    grid-column: 1/2;
}
.box1-container5 h2{
    font-size: 3rem;
}
.textSpecial-container5{
    color: var(--colorGreen);
    padding-bottom: 1rem;
}

.box2-container5{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-column: 2/3;
}
.object1-container5,
.object2-container5,
.object3-container5,
.object4-container5{
    display: flex;
    margin: auto;
    gap: 1rem;
}
.box2-container5 img{
    width: 4rem;
    border-radius: 0.5rem;
}

.box2-container5 h3{
    font-size: 2rem;
}

.object1-container5{
    grid-column: 1/2;
    grid-row: 1;
}
.object2-container5{
    grid-column: 2/3;
    grid-row: 1;
}

.object1-container5{
    grid-column: 1/2;
    grid-row: 2;
}

.object1-container5{
    grid-column: 2/3;
    grid-row: 2;
}

.container6{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;

}

.container6 img{
    width: 50%;
    height: 100%;
    padding: 3rem;
}

.box-container6{
    width: 100%;
    margin: 5rem auto;
}
.object-box-container6{
    width: 70%;
}
.object-box-container6 h2{
    font-size: 2.2rem;
}
.box-container6 button{
    margin-top: 2rem ;
    width: 9rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--colorGreen);
    transition: all 0.6s;
    border-radius: 0.5rem;
}
.box-container6 button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.4);
}

.container7{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: aliceblue;
}
.img-container7{
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
}

.img-container7 img{
    width: 70%;
    height: 80%;
    border-radius: 0.5rem;
}

.box-container7{
    padding-top: 2rem;
    width: 100%;
    font-size: 20px;
}

.box-container7 img{
    width: 6rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.box-container7 p{
    width: 80%;
}
.textSpecial-container7{
    font-size: 2rem;
    margin: 3rem auto 0rem 0rem;
    color: var(--colorGreen);
}

.textSpecia2-container7{
    font-size: 1.5rem;
    width: 20%;
    color: var(--colorGreen);
    cursor: pointer;
    transition: all 0.5s;
}
.textSpecia2-container7:hover{
    color: brown;
}

.container8{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 1rem;
}

.box1-container8{
    grid-row: 1;
    grid-column: 1/4;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;

}
.box1-container8 h2{
    font-size: 2rem;

}

.box2-container8{
    grid-column: 1/2;
    grid-row: 2;
    margin: auto;
}


.box3-container8{
    margin: auto;
    grid-column: 2/3;
    grid-row: 2;
}

.box4-container8{
    margin: auto;
    grid-column: 3/4;
    grid-row: 2;
}

.box2-container8 img,
.box3-container8 img,
.box4-container8 img{
    width: 24rem;
    height: 20rem;
    border-radius: 0.5rem;
}


.object-container8{
    position: relative;
    top: -6rem;
    border-radius: 0.5rem;
    margin: auto;
    width: 60%;
    height: 9rem;
    background-color: rgb(204, 204, 204);
    backdrop-filter: blur(-5px);
    padding: 1rem;
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.4);
}
article h3{
    text-align: center;
    margin-top: 3rem;
    color: #15581a;
}

.container9{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: aliceblue;

}

.container9 h2{
    font-size: 4rem;
    padding-top: 4rem;
}

.container9 button{
    width: 12rem;
    height: 4rem;
    margin: 3rem;
    border: none;
    background-color: var(--colorGreen);
    cursor:pointer ;
    transition: all 0.6s;
    border-radius: 0.5rem;
}

.container9 button:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(11, 50, 58, 0.4);
}

.input {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background: rgba(241, 241, 241, 0.95);
    border-radius: 50px;
    padding: 0.6rem 1.5rem;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.input:focus-within {
    box-shadow: 0 4px 20px rgba(0, 212, 255, 0.4);
    transform: translateY(-2px);
}

.input img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.6;
}

.input input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1rem;
    color: #333;
}

footer{
    display: grid;
    grid-template-columns: 2fr  1fr 1fr 1.5fr;
    grid-template-rows: auto;
    background-color: #333;
    color: white;
}
.box1-footer{
    grid-column: 1/2;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.box1-footer img{
    width: 40px;
    height: 30pxpx;
}

.box2-footer{
    grid-column: 2/3;
}

.box3-footer{
    grid-column: 3/4;
}

.box4-footer{
    grid-column: 4/5;
}



@media (max-width: 600px){
    body{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .container1
    .container2
    .container3
    .container4
    .container5
    .container6
    .container7
    .container8
    .container9{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        margin: 0 10%;
    }
    .presentacion{
        width: 100%;
        height: auto;
    }
    .proyectos{
        width: 100%;
        height: auto;
    }
    .formulario{
        width: 90%;
        height: auto;
    }
}

@media (min-width: 601px) and (max-width: 1024px){
    .proyectos{
        height: auto;
    }
    .container1
    .container2
    .container3
    .container4
    .container5
    .container6
    .container7
    .container8
    .container9{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        margin: 0 10%;
    }

    .box1-container8 h2{
    font-size: 2rem;

    }

    .box2-container8{
        grid-column: 1;
        grid-row: auto;
        margin: auto;
        padding: 20%;
    }


    .box3-container8{
        margin: auto;
        grid-column: 1;
        grid-row: auto;
                padding: 20%;
    }

    .box4-container8{
        margin: auto;
        grid-column: 1;
        grid-row: 2;
                padding: 20%;
}
}